.signIn-form {
  display: grid;
  align-items: center;
  justify-content: space-around;
  width: 30rem;
  height: 19rem;
  margin: auto;
  padding: 10px 10px 10px;
  color: white;
  box-shadow: 1px 1px 2px black, 0 0 25px #6d8299;
}

.signIn-title {
  color: #fff;
  font-size: 2rem;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
  font-weight: lighter;
}

.signIn-content {
  margin-top: 5rem;
  padding: 50px;
  text-align: center;
}

.signIn-input {
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  padding: 12px 12px 12px 40px;
  width: 15rem;
  border: none;
  margin-bottom: 8px;
  border: 1px solid #fff;
}

.login-btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
  align-items: center;
  font-weight: lighter;
  font-size: 13px;
  line-height: 29px;
  padding: 0 8px 0 9px;
  position: relative;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
}

.login-btn:hover {
  background-color: #c6cdd4;
}

.logIn-error {
  font-size: 1.2rem;
  font-weight: lighter;
}

@media screen and (max-width: 1028px) {
  .signIn-form {
    margin-right: 40%;
    padding-bottom: 30px;
    width: 100%;
    height: 50%;
  }

  .signIn-content {
    margin-right: 20%;
    padding: 50px;
  }
  .signIn-input {
    margin-left: 1rem;
    padding: 6px 15px;
    margin-top: 20px;
  }
  .login-btn {
    margin-top: 20px;
  }

  .singIn-content {
    justify-content: center;
  }

  .login-btn {
    width: 35%;
    margin-left: 30%;
  }

  .logIn-error {
    margin-left: 15%;
    text-align: center;
    width: 70%;
  }
}
