

.images{width:30vw;
    display: flex;
     
   margin-right: auto;
   margin-left: auto;}
   p,li{display: flex;  
       margin-right: auto;
       margin-left: auto;
   width:40vw;}
   h1{
   text-align: center;
   }