body {
  margin: 0;
  background-image: url(./images/mainImage.jpg);
  min-height: 200%;
  max-width: 200%;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
}
