body {
  margin: 0;
  background-image: url(./images/mainImage.jpg);
  min-height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
}
