body {
  margin: 0;
  background-image: url(./images/mainImage.jpg);
  min-height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
  
}

h2 {
  margin-top: 30px;

  color: #fff;
  font-weight: lighter;
}
