.drink-info {
  color: #fff;
  height: 20rem;
  width: 19rem;
  background: #6d8299;
  filter: blur(5px);

  position: relative;
  margin-top: 30px;
  border-radius: 15px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
