.buttonContainer {
  cursor: pointer;
}

.button-title {
  font-weight: lighter !important;
}

@media screen and (max-width: 1028px) {
  h3 {
    margin-right: 30rem;
  }

  .loginButton {
    margin-right: 20rem;
  }
}
