.nav-bar {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
  font-size: 30px;
  font-weight: lighter;
  color: #fff;
}
