.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.loginButton {
  text-align: center;
  margin-top: 10px;
  width: 70px;
  height: 20px;
  border: none;
  border-radius: 3px;
  font-weight: lighter;
  background-color: #6d8299;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;

  cursor: pointer;
}

.nav-bar {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  font-weight: lighter;
}

h3 {
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
  font-weight: lighter;
  color: #fff;
}

.nav-email {
  margin-right: 15px;
  margin-top: 20px;
}

@media screen and (max-width: 1028px) {
  .nav-bar {
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
  }
}
