/* import for neon effect */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&display=swap');

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.loginButton {
  text-align: center;
  margin-top: 10px;
  width: 70px;
  height: 20px;
  border: none;
  border-radius: 3px;
  font-weight: lighter;
  background-color: #6d8299;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
  opacity: 0.6;
  cursor: pointer;
}

.nav-bar {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  font-weight: lighter;
}

h3 {
  /* original css */
  /* font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
  font-weight: lighter;
  color: #c0c0c0; */

  /* neon effect */
  font-family: "Lobster", "Roboto" "sans-serif";
  text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;

  border: 0.1rem solid #fff;
  border-radius: 1rem;
  padding: 4rem;
  box-shadow: 
    0 0 .1rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #0fa,
    0 0 0.8rem #0fa,
    0 0 2.8rem #0fa,
    inset 0 0 1.3rem #0fa;
}

@media screen and (max-width: 800px) {
  .nav-bar {
    font-size: 25px;
  }
}
