.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.header-hr {
  width: 90%;
  position: relative;
  top: 10px;
}

.loginButton {
  text-align: center;
  margin-top: 10px;
  width: 70px;
  height: 20px;
  border: none;
  border-radius: 3px;
  font-weight: lighter;
  background-color: #6d8299;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;

  cursor: pointer;
}

.nav-bar {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.nav-email {
  font-size: 1.2rem;
  bottom: -16px;
  position: relative;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
  font-weight: lighter;
  color: #fff;
}

.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -16px;
}

@media screen and (min-width: 768px) and (max-width: 1028px) {
  .nav-bar {
    display: flex;
    flex-wrap:wrap;
    justify-items: center;
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar {
    flex-wrap: wrap;
    margin-top: 0px;
  }
}
