.drink-search-page {
  width: 100%;
  height: 100%;
}

/* Defines how the card-containe are displayed*/
.drink-layout {
  margin-top: 30px;
  display: flex;
  gap: 8rem;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 4fr;
  justify-content: center;
}

.search-error {
  width: 1000px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.search-error-msg {
  background-color: rgba(109, 130, 153, 0.5);
  margin-top: 10%;
  text-align: center;
  width: 50%;
  padding: 32px;
  border-radius: 5px;
  font-weight: lighter;
  color: #fff;
}
