/* Defines how the card-containe are displayed*/
.drink-layout {
  margin-top: 30px;
  display: flex;
  gap: 8rem;
  flex-direction: row;
  grid-template-columns: 4fr;
  justify-content: center;
}

.search-error {
  background-color: #6d8299;
  margin-top: 10%;
  text-align: center;
  color: #fff;
  width: 50%;
  padding: 20px;
  margin-left: 25%;
  border-radius: 5px;
}

.search-error-msg {
  font-weight: lighter;
}

/*Makes the layout responsive*/
@media screen and (max-width: 1028px) {
  .drink-layout {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }

  .search-error-msg,
  .search-error {
    width: 30rem;
  }
}
