/* Defines how the card-containe are displayed*/
.drink-layout {
  margin-top: 30px;
  display: grid;
  gap: 8rem;
  flex-direction: row;
  grid-template-columns: 4fr;
  justify-content: center;
}

.error {
  margin-top: 30px;
  text-align: center;
  color: #c0c0c0;
  font-weight: lighter;
}

/*Makes the layout responsive*/
@media screen and (min-width: 500px) {
  .drink-layout {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
}
