.ingredient-img {
  display: block;
  background-color: #6d8299;
  border-radius: 10%;
  height: 90%;
  width: 50%;
  cursor: pointer;
}

.img-container {
  margin-top: 15px;
}

.ingredientImg-name {
  margin-top: 10px;
  background-color: #6d8299;
  border-radius: 5px;
  color: #fff;
  margin-right: 50%;
  font-size: 20px;
  font-weight: lighter;
}

.ingredient-container {
  width: 20rem;
  height: 12rem;
  margin-left: 15px;
  margin-top: 60px;
}
.ingredient-container:hover {
  transform: scale(1.1);
}
