.ingredient-img {
  display: block;
  background-color: #6d8299;
  border-radius: 10%;
  height: 90%;
  width: 100%;
  cursor: pointer;
  margin: 0px;
}

.img-container {
  margin-top: 15px;
  height: 12rem;
  width: 100%;
}

.ingredientImg-name {
  margin-top: 10px;
  background-color: #6d8299;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
}

.ingredient-container {
  width: 180px;
  height: 208px;
  padding: 16px;
}

.ingredient-container:hover {
  transform: scale(1.1);
}

.remove-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: red;
  position: relative;
  bottom: 14rem;
  left: 10rem;
}