.ingredient-tile-img {
  display: block;
  background-color: rgba(109, 130, 153, 0.5);
  border-radius: 10%;
  height: 90%;
  width: 100%;
  margin: 0px;
}

.ingredient-tile-name {
  margin-top: 10px;
  background-color: rgba(109, 130, 153, 0.5);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  padding: 8px;
  text-align: center;
}

.ingredient-tile-container {
  margin-top: 20px;
  width: 180px;
  height: 208px;
  padding: 16px;
}

.ingredient-tile-container:hover {
  transform: scale(1.1);
}

.ingredient-remove-button {
  border: none;
  border-radius: 5px;
  background-color: #c0c0c0;
  margin-left: 10rem;
  cursor: pointer;
  height: 24px;
  z-index: 2;
  position: relative;
  top: 12px;
}
.remove {
  color: #4b4949;
  font-size: 15px;
}

@media screen and (max-width: 1028px) {
  .ingredient-tile-container {
    width: 130px;
    height: 155px;
    margin: 8px;
    margin-bottom: 32px;
  }

  .ingredient-remove-button {
    margin-left: 7rem;
    cursor: pointer;
    height: 24px;
    top: 18px;
  }
}