.card-container {
  margin-top: 30px;
  margin: 20px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -15px;
}
.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

/* img styling*/
.img-container img {
  overflow: hidden;
  height: 200px;
  background-color: #6d8299;
  border-radius: 10%;
  padding: 10px;
  margin: 1rem;
}

img {
  cursor: pointer;
}

/* Description styling */
.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

.drink-name {
  margin-bottom: 0.5rem;
}

/* Reseting default value*/
h1,
p {
  font-size: 20px;
  color: #c0c0c0;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
}
