/*Displays the drink's img and name*/
.card-container {
  margin-top: 30px;
  margin: 20px;
  width: 250px;
  height: 100%;
  overflow: hidden;
}
.card-container:hover {
  transform: scale(1.1);
}

/* img styling*/
.imgDrink-container {
  align-items: center;
  overflow: hidden;
  height: 200px;
  background-color: #6d8299;
  border-radius: 10%;
  padding: 15px 4px 30px 15px;
  margin: 0;
  width: 85%;
}

img {
  border-radius: 10%;
  height: 200px;
  cursor: pointer;
}

.drink-name {
  text-align: center;
  width: 100%;
  margin-top: 0px;
  font-size: 1.5rem;
  color: white;
}

/* Reseting default value*/
h1,
p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
}
