/*Displays the drink's img and name*/
.card-container {
  margin-top: 30px;
  margin: 20px;
  width: 250px;
  overflow: hidden;
}
.card-container:hover {
  transform: scale(1.1);
}

/* img styling*/
.img-container {
  align-items: center;
  overflow: hidden;
  height: 200px;
  background-color: #6d8299;
  border-radius: 10%;
  padding: 15px 4px 30px 15px;
  margin: 0;
  width: 85%;
}

img {
  border-radius: 10%;
  height: 200px;
  cursor: pointer;
}

.drink-name {
  text-align: center;

  background-color: #6d8299;
  color: #fff;
}

/* Reseting default value*/
h1,
p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
}

.expanding-box {
  max-height: 256px;
  min-height: 256px;
  height: auto;
  width: 85vw;
  margin-top: -40px;
  padding: 0;
  position: relative;
  display: none;
  overflow: hidden;
  background-color: #6d8299;
  position: relative;
  left: 0;
}

.shrinkContent {
  animation-name: shrinkContent;
  animation-timing-function: ease;
}

@keyframes shrinkContent {
  0% { 
      max-height: 256px;
      min-height: 256px;
  }
  100% { 
      max-height: 0px;
      min-height: 0px;
  }
}

.expandContent {
  animation-name: expandContent;
  animation-timing-function: ease;
}

@keyframes expandContent {
  0% { 
      max-height: 0px;
      min-height: 0px;
  }
  100% { 
      max-height: 256px;
      min-height: 256px;
  }
}
