.desc-background {
    background-color: rgba(0, 0, 0, 0.7);
    height: 2560px;
    top: -30%;
    width: 100%;
    z-index: 10;
    position: fixed;
    display: block;
}

.desc-drink-details {
    width: 76%;
    height: 60vh;
    z-index: 10;
    position: fixed;
    top: 30%;
    margin-left: 12vw;
    margin-right: 12vw;
    background-color: rgba(109, 130, 153, 0.85);
    border-radius: 3%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;
}

.desc-top-section {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.desc-bottom-half {
    display: flex;
    height: 70%;
    margin-top: 2%;
}

.desc-left-section {
    width: 50%;
    height: 100%;
    margin: 0px;
    border: 0px;
}

.desc-title-section {
    height: 30%;
    width: 100%;
    display: flex;
    font-size: 20pt;
}

.desc-name-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-weight: lighter;
}

.desc-drink-name {
    height: auto;
    width: 90%;
    text-align: left;
    font-weight: lighter;
    border-left: 8px;
    margin-top: 8px;
    font-size: 28pt;
}

.desc-glass-type {
    height: 35%;
    width: 90%;
    margin: 0px;
    font-weight: lighter;
    font-size: 20pt
}

.desc-drink-image {
    height: auto;
    width: auto;
    display: block;
    max-width: 40%;
    max-height: 90%;

}

.desc-instructions-section {
    width: 100%;
    height: 70%;
}

.desc-instructions-paragraph {
    color: #fff;
    font-weight: lighter;
    padding: 8px;
    font-size: 14pt;
}

.desc-ingredients-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
}

.desc-drink-ingredients-item {
    width: 45%;
    padding-left: 4%;
    color: #fff;
    font-weight: lighter;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    line-height: 1rem;
    font-size: 14pt;
}

.desc-section-title {
    width: 100%;
    text-decoration: underline;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    padding-bottom: 5%;
    padding-top: 5%;
}

.desc-right-section {
    width: 50%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.desc-vertical-line {
    border-left: 2px white solid;
    height: 95%;
    opacity: 0.5;
}

.desc-horizontal-line {
    border-top: 2px white solid;
    width: 95%;
    opacity: 0.5;
}

.desc-close-button {
    height: 8%;
    width: 8rem;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 29px;
    text-align: center;
}

@media screen and (min-width: 780px) and (max-width: 1028px) {
    .desc-drink-details {
        top: 15%;
        height: 70vh;
    }

    .desc-drink-name {
        font-size: 24pt;
    }

    .desc-glass-type {
        font-size: 18pt;
    }

    .desc-section-title {
        font-size: 20pt;
    }

    .desc-instructions-paragraph {
        font-size: 16pt;
    }

    .desc-drink-ingredients-item {
        font-size: 16pt;
        width: 100%;
        line-height: 0;
    }
}

@media screen and (max-width: 780px) {
    .desc-drink-details {
        top: 15%;
        height: 70vh;
    }

    .desc-drink-name {
        font-size: 18pt;
    }

    .desc-glass-type {
        font-size: 12pt;
    }

    .desc-section-title {
        font-size: 16pt;
    }

    .desc-instructions-paragraph {
        font-size: 10pt;
    }

    .desc-drink-ingredients-item {
        font-size: 10pt;
        width: 100%;
        line-height: 0;
    }
}