.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.register-content {
  margin-top: 10%;
  padding: 50px;
  padding-top: 20px;
  background-color: rgba(109, 130, 153, 0.5);
  border-radius: 20px;
}

.register-error {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
}

.register-form {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  color: white;
}

.register-title {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
  font-weight: lighter;
}

.register-input {
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  padding: 12px 12px 12px 40px;
  width: 15rem;
  border: none;
  margin-bottom: 8px;
  border: 1px solid #fff;
}

.register-submit-btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "DM Serif Display", "Roboto", "Balsamiq Sans" serif;
  align-items: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 29px;
  padding: 0 8px 0 9px;
  position: relative;
  text-align: center;
  width: 50%;
  margin-bottom: 10px;
}

.register-submit-btn:hover {
  background-color: #c6cdd4;
}