.search-container {
  width: 100%;
  margin-top: 40%;
  margin-left: 25%;
}

.ingredient-search-content {
  overflow-x: hidden;
  margin-top: 30px;

  max-height: 70vh;
  min-height: 70vh;
  overflow-y: scroll;
}

.ingredient-input {
  position: relative;
  background-color: #dbd8d8;
  width: 98%;
  height: 32px;
}
