.search-container {
  background-color: #6d8299;

  width: 100%;
  height: 80vh;
  border-radius: 5px;
}

.ingredient-search-container {
  overflow-x: hidden;
  margin-top: 30px;

  max-height: 70vh;
  min-height: 70vh;
  overflow-y: scroll;
  width: 94%;
  left: 3%;
  position: relative;
}

.ingredient-input {
  position: relative;
  top: 20px;
  left: 3%;
  background-color: #dbd8d8;
  width: 94%;
  height: 30px;
}

@media screen and (max-width: 1028px) {
  .ingredient-search-container {
    width: 50%;
  }

  .search-container {
    width: 60%;
  }
}
