.search-container {
  background-color: rgba(109, 130, 153, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient-search-container {
  overflow-x: hidden;
  margin-top: 30px;

  max-height: 70vh;
  min-height: 70vh;
  overflow-y: scroll;
  width: 94%;
  height: 80%;
  position: relative;
}

.ingredient-input {
  position: relative;
  top: 15px;
  background-color: #dbd8d8;
  width: 94%;
  height: 30px;
}