.search-container {
    background-color: white;
    width: 100%;
    border: black 2px solid;
}

.ingredient-search-container {
    max-height: 80vh;
    min-height: 80vh;
    overflow-y: scroll;
}

.ingredient-input {
    width: 98%;
    height: 32px;
}