.search-container {
  width: 100%;
  height: 100%;
}

.ingredient-search-container {
  overflow-x: hidden;
  margin-top: 30px;

  max-height: 80vh;
  min-height: 80vh;
  overflow-y: scroll;
}

.ingredient-input {
  position: relative;
  background-color: #dbd8d8;
  width: 98%;
  height: 32px;
}
