.ingredient-search-content {
  display: flex;
  width: 100vw;
}

.ingredient-search-bar {
  overflow: hidden;
  display: grid;
  padding-top: 1%;
  margin-left: 30px;
  min-width: 25%;
  height: 80%;
}
.my-ingredients {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  width: 75%;
  height: 85vh;
}

.mybar-login-error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.mybar-error-msg {
  background-color: rgba(109, 130, 153, 0.5);
  margin-top: 10%;
  text-align: center;
  width: 50%;
  padding: 32px;
  border-radius: 5px;
  font-weight: lighter;
  color: #fff;
}