.ingredient-search-content {
  display: -webkit-inline-flex;
  width: 100vw;
}

.ingredient-search-bar {
  overflow: hidden;
  display: grid;
  margin-left: 30px;
  width: 25%;
  height: 80vh;
}
.my-ingredients {
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-y: hidden;
  overflow: hidden;

  width: 75%;
}
