.ingredient-search-content {
  display: flex;
  width: 100vw;
}

.ingredient-search-bar {
  overflow: hidden;
  display: grid;
  padding-top: 1%;
  margin-left: 30px;
  width: 25%;
  height: 80%;
}
.my-ingredients {
  margin-left: 80px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 75%;
  height: 85vh;
}

.login-error {
  background-color: #6d8299;
  margin-top: 10%;
  text-align: center;
  color: #fff;
  font-weight: lighter;
  width: 50%;
  padding: 20px;
  margin-left: 25%;
  border-radius: 5px;
}
