.about-content-parent {
  display: flex;

  justify-content: center;
  width: 100%;
  height: 100%;
}

.about-content {
  border-radius: 8px;
  background-color: rgba(109, 130, 153, 0.5);
  padding: 20px;
  margin-top: 5%;
  color: #fff;
  justify-items: left;
  text-align: left;
  min-width: 60%;
  max-width: 60%;
  margin-bottom: 5%;
}
.about-text {
  font-size: 20px;
  font-weight: lighter;
  text-align: justify;
}

.about-list-item {
  text-align: left;
}

.about-title {
  text-align: center;
  font-size: 40px;
}

.about-subtitle {
  text-align: center;
  font-size: 36px;
}

@media screen and (max-width: 1028px) {
  .about-content {
    max-width: 80%;
  }

  .about-text {
    font-size: 16px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-subtitle {
    font-size: 20px;
  }
}