h1 {
    color:aliceblue;
    font-size: 30px;
}

.letter-link {
    color: aliceblue;
    font-size: 25px;
    cursor: pointer;
}

.latest, .popular, .letter {
    display: flex;
    flex-wrap: wrap;
}

.header {
    text-align:  center;
    justify-items: center;
}

.letter {
    padding-left:30px;
    margin-bottom:20px;
}