.title {
  margin-top: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: lighter;
}

.loading-text{ text-shadow: 2px 2px 2px #000000;}
.letter-link {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.latest,
.popular,
.letter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.browse-section-title {
  color: #fff;
  text-align: center;
  justify-items: center;
}

.letter-list{display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
    
    
}
.letter-link{padding: 10px;
    color:aliceblue;
    font-size: 30px;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
}
.letter {margin-left: auto;
    margin-right: auto;    
}

.browse-error-msg {
  background-color: #6d8299;
  margin-top: 10%;
  text-align: center;
  width: 50%;
  padding: 10px;
  margin-left: 25%;
  border-radius: 5px;
  font-weight: lighter;
  color: #fff;
  margin-bottom: 64px;
}
