h1 {
    color:aliceblue;
    font-size: 30px;
}

.letter-link {
    color: aliceblue;
    font-size: 25px;
    cursor: pointer;
}

.latest, .popular, .letter {
    display: flex;
    flex-wrap: wrap;
}

.header {
    text-align:  center;
    justify-items: center;
}
.letter-list{display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
    
    
}
.letter-link{padding: 13px;
}
.letter {margin-left: auto;
    margin-right: auto;    
}